body {
    background-color: #0c0a0a;
    color: #1f2023;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1f2023;
        color: #dadada;
    }
}



.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
}

.nav-menu li {
    margin-right: 20px;
}

.nav-menu li a:hover {
    color: #00f;
}

.navbar {
    display: flex;
    justify-content: right;
    align-items: center;
}



.img1 {
    max-width: 100%;
    height: auto;
}


.had2 {
    padding: 20px auto;
    margin: 15px;

}

.exthader2 {
    color: #fff;
    padding: 20px;
    margin: 50px 49px;
}

.had_logo {
    position: relative !important;
    flex-wrap: nowrap;
    justify-content: flex-start;
}


.tfd {
    margin: auto;
}

.logohader {
    display: flex;
    justify-content: center;
    align-items: center;
    
}






.hader_Row1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center !important;
    justify-content: center;
    margin: auto;
}

.had1_text {
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: Inter;
    font-size: 46px;
    font-weight: 600;
}

.img_hader_video1 {
    display: flex;
    justify-content: center;
}

.img_hader_video2 {
    max-width: 100%;
}

.img_hader_video {
    max-width: 100%;
    height: auto;
}

.text1 {
    padding: 20px;
}

.text12 {
    color: #fff !important;
    font-family: Poppins, sans-serif;
    font-size: flex;
    line-height: 1.6;
    padding: 0;
}

/* .bnt12 {
    text-align: center;
} */

.bnt1 {
    border: none;
    width: fit-content;
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(72, 72, 72, 0.72) -7px 4px 46px -1px;
    background: linear-gradient(89.35deg, rgb(16, 98, 161) 2.37%, rgb(34, 159, 255) 105.12%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media only screen and (min-width: 1024px) {
    .had1_text {
        flex: 0 0 50%;
        font-size: 3rem;
    }

    .img_hader_video1 {
        flex: 0 0 50%;
        margin: 80px 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .had1_text {
        flex: 0 0 100%;
        font-size: 2.6rem;
    }

    .img_hader_video1 {
        flex: 0 0 100%;
    }
}

@media only screen and (max-width: 767px) {

    .had1_text
    {
        flex: 0 0 100%;
        font-size: 1.6rem;
    }
    .img_hader_video1 {
        flex: 0 0 100%;
        margin: 60px 0;
    }
}


.texthader2 { 
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 40px 0px 10px;
}

.texthader21 {
    color: #fff;
    font-size: flex;
    font-weight: 300;
    line-height: 27.36px;
    text-align: center;
}
@media only screen and (min-width: 1024px) {
    .texthader21 {
        flex: 0 0 50%;
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .texthader21 {
        flex: 0 0 100%;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 767px) {
    .texthader21
    {
        flex: 0 0 100%;
        font-size: 1.0rem;
    }
}

.img2 {
    margin: auto;
}

.heder_img2 {
    width: 100%;
}

.heder_img {
    justify-content: center !important
}

.hed3 {
    display: flex;
    justify-content: center;
    padding: 30px;
}





.hader_Image_logo {
    position: relative !important;
}

.had_logo {
    align-items: center;
    display: flex;
    flex-wrap: inherit;
    justify-content: space-between;
}

.hader_logo_img {
    margin: auto;
}

.hader_logo_img1 {
    margin: auto;
    
}

.hader_Image_logo2 {
    background: #010507;
    background: radial-gradient(circle, #010507 0, #020d14 86%);
    color: #fff !important;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    height: 100%;
    line-height: 1.6;
    padding: 0;
}

.hader_Image_logo2_col1 {
    justify-content: center !important;
    display: flex !important;
}

.home_box {
    padding: 80px 0 20px;
    justify-content: center;
}

.home_Col1 {
    background-color: #0b0f17 !important;
    color: #fff;
    /* flex: 1 1; */
    margin: 10px;
    padding: 20px;
    width: 100%;
}

.home_Col1_frame {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;

}

.home_Col1_hading {
    font-size: 1.4em;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col1_paragraph {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col2 {
    background-color: #0b0f17 !important;
    color: #fff;
    /* flex: 1 1; */
    margin: 10px;
    padding: 20px;
    width: 100%;
}

.home_Col2_frame {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    box-sizing: border-box;
}

.home_Col2_hading {
    font-size: 1.4em;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col2_paragraph {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col3 {
    background-color: #0b0f17 !important;
    color: #fff;
    /* flex: 1 1; */
    margin: 10px;
    padding: 20px;
    width: 100%;
}

.home_Col3_frame {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    box-sizing: border-box;
}

.home_Col3_hading {
    font-size: 1.4em;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col3_paragraph {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_box2 {
    padding: 80px 0 20px;
    justify-content: center;
}

.home_Col4 {
    background-color: #0b0f17 !important;
    color: #fff;
    /* flex: 1 1; */
    margin: 10px;
    padding: 20px;
    width: 100%;
}

.home_Col4_frame {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    box-sizing: border-box;
}

.home_Col4_hading {
    font-size: 1.4em;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col4_paragraph {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col5 {
    background-color: #0b0f17 !important;
    color: #fff;
    /* flex: 1 1; */
    margin: 10px;
    padding: 20px;
    width: 100%;
}

.home_Col5_frame {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    box-sizing: border-box;
}

.home_Col5_hading {
    font-size: 1.4em;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col5_paragraph {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col6 {
    background-color: #0b0f17 !important;
    color: #fff;
    /* flex: 1 1; */
    margin: 10px;
    padding: 20px;
    width: 100%;
}

.home_Col6_frame {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    box-sizing: border-box;
}

.home_Col6_hading {
    font-size: 1.4em;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col6_paragraph {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_box3 {
    padding: 80px 0 20px;
    justify-content: center;
}

.home_Col7 {
    background-color: #0b0f17 !important;
    color: #fff;
    /* flex: 1 1; */
    margin: 10px;
    padding: 20px;
    width: 100%;
}

.home_Col7_frame {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    box-sizing: border-box;
}

.home_Col7_hading {
    font-size: 1.4em;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col7_paragraph {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col8 {
    background-color: #0b0f17 !important;
    color: #fff;
    /* flex: 1 1; */
    margin: 10px;
    padding: 20px;
    width: 100%;
}

.home_Col8_frame {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    box-sizing: border-box;
}

.home_Col8_hading {
    font-size: 1.4em;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col8_paragraph {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col9 {
    background-color: #0b0f17 !important;
    color: #fff;
    /* flex: 1 1; */
    margin: 10px;
    padding: 20px;
    width: 100%;
}

.home_Col9_frame {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    box-sizing: border-box;
}

.home_Col9_hading {
    font-size: 1.4em;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col9_paragraph {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}




.dis1 {
    color: #fff;
    right: auto;
    text-align: center;
}

.img3 {
    margin: auto;
}

.hed4 {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.dri1 {
    color: #fff;
    right: auto;
    text-align: center;
}

.img4 {
    margin: auto;
}

.bnt2 {
    border: none;
    width: fit-content;
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(72, 72, 72, 0.72) -7px 4px 46px -1px;
    background: linear-gradient(89.35deg, rgb(16, 98, 161) 2.37%, rgb(34, 159, 255) 105.12%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.butt2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.bnt3 {
    border: none;
    width: fit-content;
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(72, 72, 72, 0.72) -7px 4px 46px -1px;
    background: linear-gradient(89.35deg, rgb(16, 98, 161) 2.37%, rgb(34, 159, 255) 105.12%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.butt3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.bnt4 {
    border: none;
    width: fit-content;
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(72, 72, 72, 0.72) -7px 4px 46px -1px;
    background: linear-gradient(89.35deg, rgb(16, 98, 161) 2.37%, rgb(34, 159, 255) 105.12%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.butt4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}


.hed5 {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.endline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.group5 {
    display: flex;
    justify-content: center;
    align-items: center;
}



.login_from {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 4px;
    padding: 28px;
}

.login_fromcol {
    background: radial-gradient(circle, #010507 0, #020d14 86%);
}

.logintext {
    color: #fff !important;
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    width: 80%;
}

.login_textfrom1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0px;
}

@media only screen and (max-width: 599px) {
    .login_fromcol {
        width: 100%;
        background-size: cover;
        background-position: center;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1023px) {
    .login_fromcol {
        width: 50%;
        background-size: cover;
        background-position: center;
    }
}

@media only screen and (min-width: 1024px) {
    .login_fromcol {
        width: 50%;
        background-size: cover;
        background-position: center;
    }
}

.driInput {
    background: #112535;
    border-color: rgba(93, 94, 96, .7);
    border-radius: 10px;
    font-weight: 600;
    padding-left: 10px !important;
    padding: 12px;
    width: 80%;
}

.login_button {
    border: none;
    width: fit-content;
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(72, 72, 72, 0.72) -7px 4px 46px -1px;
    background: linear-gradient(89.35deg, rgb(16, 98, 161) 2.37%, rgb(34, 159, 255) 105.12%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .login_button {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 479px) {
    .login_button {
        font-size: 0.8rem;
    }
}

.login_Imagebackground {
    background-color: #222;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    color: #fff;
}

@media (min-width: 325px) and (max-width: 1368px) {
    .login_Imagebackground {
        display: none;
    }
}

.login_inputbox {
    background: #112535;
    border-color: rgba(93, 94, 96, .7);
    border-radius: 10px;
    font-weight: 600;
    padding: 1.4rem 1rem 1.4rem 60px;
    padding-left: 10px !important;
    padding: 1.2rem 1rem;
    width: 100%;
}

.login_inputbox::placeholder {
    color: #dadada;
}
.login_Imagepage{
    width: 100%;
}

.User_text {
    text-align: center;
    color: #fff !important;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    padding: 0;
}

.user_button {
    border: none;
    width: fit-content;
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(72, 72, 72, 0.72) -7px 4px 46px -1px;
    background: linear-gradient(89.35deg, rgb(16, 98, 161) 2.37%, rgb(34, 159, 255) 105.12%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
}

.Usertext {
    color: #fff;
    padding: 41px;
    margin: 63px;
    justify-content: center;
    flex: content;
    align-items: center;
}

.usertype {
    padding: 6px;
    margin: 15px;
    align-items: center;
    justify-content: center;
}

.radio1,
.radio2,
.radio3 {
    background: rgba(17, 37, 53, 1);
    border-image-source: linear-gradient(89.35deg, #1062A1 2.37%, #229FFF 105.12%);
    color: #fff;
    border: 1px solid gray;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

.login_inputbox {
    padding: 10px;
    align-items: center;
    justify-content: center;
}


.Broker_haderrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.Broker_hadertext {
    color: #fff;
    font-size: 3.2rem;
    margin: 0px 0px -53px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Broker_from {
    width: 100%;
    border-radius: 4px;
    padding: 15px 25px;
    background-color: rgb(11, 15, 23);
}

.broker_row1 {
    display: flex;
    align-items: center;
}

.broker_row2 {
    display: flex;
    align-items: center;
}

.imgupload {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
}


.brokerbuton1 {
    border: 1px solid rgb(34, 159, 255);
    border-radius: 15px;
    box-shadow: rgba(72, 72, 72, 0.72) -7px 4px 46px -1px;
    background: rgb(17, 37, 53);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    overflow: hidden;
    width: 65%;
    padding: 12px 2px !important;
}


.dispatcher_text {
    color: #fff;
    font-size: 3.2rem;
    margin: 0px 0px -53px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dispatcher_from {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.dispatcher_hadercol {
    width: 100%;
    border-radius: 4px;
    padding: 15px 25px;
    background-color: rgb(11, 15, 23);
}

.Dispatcher_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.Dispatcher_button1 {
    border: none;
    width: fit-content;
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(72, 72, 72, 0.72) -7px 4px 46px -1px;
    background: linear-gradient(89.35deg, rgb(16, 98, 161) 2.37%, rgb(34, 159, 255) 105.12%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    width: 40%;
    line-height: normal;
}

.text_Dispatcher {
    color: #fff !important;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    height: 100%;
    line-height: 1.6;
    padding: 0;
}

.Dispatcher_Row1 {
    color: #fff !important;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    height: 100%;
    line-height: 1.6;
    padding: 0;
}

.Dispatcher_Col1 {
    color: #fff !important;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    height: 100%;
    line-height: 1.6;
    padding: 0;
}

.dispatcher_colum1 {
    position: relative;
    margin-bottom: 20px;
}

.Dispatcher_col_hading1 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 19px;
    margin: 15px 4px;
    text-align: left;
}

.dispatcher_Input1 {
    background: #112535;
    border-color: rgba(93, 94, 96, .7);
    border-radius: 10px;
    font-weight: 600;
    padding-left: 10px !important;
    padding: 12px !important;
    width: 80%;
}

.Dispatcher_Col2 {
    color: #fff !important;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    height: 100%;
    line-height: 1.6;
    padding: 0;
}

.dispatcher_colum2 {
    position: relative;
    margin-bottom: 20px;
}

.Dispatcher_col_hading2 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 19px;
    margin: 15px 4px;
    text-align: left;
}

.dispatcher_buttoncol1 {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.Dispatcher_button1 {
    border: 1px solid rgb(34, 159, 255);
    border-radius: 24px;
    box-shadow: rgba(72, 72, 72, 0.72) -7px 4px 46px -1px;
    background: rgb(17, 37, 53);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    overflow: hidden;
    width: 25%;
    padding: 12px 2px !important;
}

.Dispatcher_button2 {
    border: 1px solid rgb(34, 159, 255);
    border-radius: 24px;
    box-shadow: rgba(72, 72, 72, 0.72) -7px 4px 46px -1px;
    background: rgb(17, 37, 53);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    overflow: hidden;
    width: 25%;
    padding: 16px 2px !important;
}

.Dispatcher_Imagetext {
    padding: 40px 0px 20px;
}

.Dispatcher_Imagetexthad {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.Dispatcher_Imagerow {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(var(--bs-gutter-x)*-.5);
    margin-top: calc(var(--bs-gutter-y)*-1);
}

.Dispatcher_Imagetext1 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.Dispatcher_Imagetext2 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.Dispatcher_Imagetext {
    color: #fff !important;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    height: 100%;
    line-height: 1.6;
    padding: 0;
}

.Dispatcher_Imagerow {
    color: #fff !important;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    height: 100%;
    line-height: 1.6;
    padding: 0;
}

.text_Dispatcher1 {
    color: #fff !important;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    height: 100%;
    line-height: 1.6;
    padding: 0;
}

.Dispatcher_CompanyRow {
    color: #fff !important;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    height: 100%;
    line-height: 1.6;
    padding: 0;
}

.Dispatcher_CompanyCol1 {
    color: #fff !important;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    height: 100%;
    line-height: 1.6;
    padding: 0;
}

.Dispatcher_Companytext {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 19px;
    margin: 15px 4px;
    text-align: left;
}

.dispatcher_Input2 {
    background: #112535;
    border-color: rgba(93, 94, 96, .7);
    border-radius: 10px;
    font-weight: 600;
    padding-left: 10px !important;
    padding: 12px !important;
    width: 80%;
}

.text_Dispatcher2 {
    color: #fff !important;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    height: 100%;
    line-height: 1.6;
    padding: 0;
}

.Dispatcher_VehicalRow {
    color: #fff !important;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    height: 100%;
    line-height: 1.6;
    padding: 0;
}

.Dispatcher_VehicalCol1 {
    color: #fff !important;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    height: 100%;
    line-height: 1.6;
    padding: 0;
}

.Dispatcher_Vehicaltext1 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 19px;
    margin: 15px 4px;
    text-align: left;
}

.dispatcher_VehicalInput1 {
    background: #112535;
    border-color: rgba(93, 94, 96, .7);
    border-radius: 10px;
    font-weight: 600;
    padding-left: 10px !important;
    padding: 12PX;
    width: 80%;
}

.Dispatcher_VehicalCol2 {
    color: #fff !important;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    height: 100%;
    line-height: 1.6;
    padding: 0;
}

.Dispatcher_Vehicaltext2 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 19px;
    margin: 15px 4px;
    text-align: left;
}

.dispatcher_VehicalInput2 {
    background: #112535;
    border-color: rgba(93, 94, 96, .7);
    border-radius: 10px;
    font-weight: 600;
    padding-left: 10px !important;
    padding: 12px !important;
    width: 80%;
}

.Vehical_weight_count {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    right: 115px;
    top: 12px;
}

.Dispatcher_AccessoriesText1 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 19px;
    margin: 15px 4px;
    text-align: left;
    color: #fff;
}

.Dispatcher_Accessoriesbutton {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(var(--bs-gutter-x)*-.5);
    margin-top: calc(var(--bs-gutter-y)*-1);
}

.Dispatcher_Accessoriesbutton1 {
    border: 1px solid rgba(93, 94, 96, 0.698);
    border-radius: 24px;
    box-shadow: rgba(72, 72, 72, 0.72) -7px 4px 46px -1px;
    background: rgb(17, 37, 53);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 80%;
    padding: 12px 2px !important;
}
.Dispatcher_Accessoriesbutton1.selected {
    background-color: rgba(16, 98, 161, 1);
  }

  .Dispatcher_button1.clicked {
    background-color: rgba(16, 98, 161, 1);
  }
  

.Dispatcher_asButton1 {
    margin-bottom: 25px;
}

.Dispatcher_Summitbutton {
    border: 1px solid rgb(34, 159, 255);
    border-radius: 15px;
    box-shadow: rgba(72, 72, 72, 0.72) -7px 4px 46px -1px;
    background: rgb(17, 37, 53);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    overflow: hidden;
    width: 65%;
    padding: 12px 2px !important;
}

.dispatcher_Input1::placeholder {
    color: #FFFFFF;
    font: 0.75rem sans-serif;
}

.dispatcher_Input2::placeholder {
    color: #FFFFFF;
    font: 0.75rem sans-serif;
}

.dispatcher_VehicalInput2::placeholder {
    color: #FFFFFF;
    font: 0.75rem sans-serif;
}

.dispatcher_VehicalInput1::placeholder {
    color: #FFFFFF;
    font: 0.75rem sans-serif;
}

.driInput::placeholder {
    color: #FFFFFF;
    font: 0.75rem sans-serif;
}

/* Footer styles */
.Broker_footer {
    color: #fff;
    padding: 20px;
}
.Broker_footerHome{
    color: #fff;
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.Broker_footerRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.Broker_footerRow>div {
    margin-bottom: 10px;
}

.Broker_footercol1,
.Broker_footercol2,
.Broker_footercol3 {
    flex: 1;
}

/* Media queries for various screen sizes */
@media (max-width: 767px) {

    .Broker_footercol1,
    .Broker_footercol2,
    .Broker_footercol3 {
        flex-basis: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .Broker_footercol1 {
        flex-basis: 70%;
    }

    .Broker_footercol2,
    .Broker_footercol3 {
        flex-basis: 30%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .Broker_footercol1 {
        flex-basis: 50%;
    }

    .Broker_footercol2,
    .Broker_footercol3 {
        flex-basis: 25%;
    }
}

@media (min-width: 1200px) {
    .Broker_footercol1 {
        flex-basis: 40%;
    }

    .Broker_footercol2,
    .Broker_footercol3 {
        flex-basis: 30%;
    }
}












.dispatcherfrom {
    display: flex;
    justify-content: center;
}

.textbroker {
    color: #fff;
    margin: 20px;
}

.brokerline {
    display: flex;
    justify-content: center;
    align-items: center;
}



.ppbroker {
    margin: 10px;
    padding: 4px;
}

.brokertext1,
.brokertext2,
.brokertext3 {
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 19px;
    margin: 15px 4px;
    text-align: left;
}

.brokercol1,
.brokercol2,
.brokercol3 {
    padding: 20px;
}




.brokerbutt1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}




.endlinedri {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    ;
}

.buttondis1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 83px;
}

.buttonDis1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 20px;
}

.texDispatcher {
    color: #fff;
    left: 50%;
}

.textDriver {
    color: #fff;
    margin-left: 49px;
}




.weight_dis {
    position: relative;
}



