body {
    background-color: #0c0a0a;
    color: #1f2023;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1f2023;
        color: #dadada;
    }
}


/* .navbar {
    width: 120px;
    height: 100px;
    left: calc(85% - 194px/2);
    top: 65px;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
}



.nav-menu li {
    margin-right: 20px;
}

.nav-menu li:last-child {
    margin-right: 0;
}

.nav-menu li a:hover {
    color: #00f;
}

.imgup {
    width: 651px;
    height: 414px;
    left: 686px;
    top: 224px;
}

.bnt{
    width: 168px;
    height: 53px;
    left: calc(54% - 168px/2);
    top: 1800px;
}

.logohader {
    width: 1235px;
    height: 0px;
    left: 102px;
    top: 115px;
}

.texthader {
    width: 645px;
    height: 287px;
    left: 109px;
    top: 287px;
    color: #dadada;
    border-radius: 8px;
}

.line2 {
    width: 651px;
    height: 1242px;
    left: 90px;
    top: 691px;
    border: 1px;
}

.texthader2 {
    width: 1440px;
    height: 171px;
    left: 300px;
    top: 710px;
    color: #dadada;
    border: 1px;
}

.line3 {
    width: 1051px;
    left: calc(50% - 1051px/2 - 0.5px);
    top: 19.09%;
    bottom: 79.45%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 68px;
    text-align: center;
    color: white;
    height: 68px;
    top: 810px;
    left: 194px;
}

.img2 {
    width: 782px;
    height: 439.88px;
    left: 329px;
    top: 930px;
}

.tfd {
    width: 120px;
    height: 100px;
    left: calc(54% - 194px/2);
    top: 65px;
}

.col1 {
    width: 362px;
    height: 411px;
    left: 102px;
    top: 1514px;
    color: #dadada;
}

.col2 {
    width: 362px;
    height: 411px;
    left: 539px;
    top: 1514px;
    color: #dadada;
}

.col3 {
    width: 362px;
    height: 411px;
    left: 976px;
    top: 1514px;
    color: #dadada;
}

.bnt2 {
    width: 168px;
    height: 53px;
    left: calc(54% - 168px/2);
    top: 1800px;
}

.dis1 {
    width: 241px;
    left: calc(50% - 241px/2 - 0.5px);
    top: 45.71%;
    bottom: 52.83%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 68px;
    text-align: center;
    color: #FFFFFF;
    top: 1850px;
    height: 68px;
    left: 599px;
}

.img3 {
    width: 782px;
    height: 439.88px;
    left: 329px;
    top: 2000px;
}

.col4 {
    width: 362px;
    height: 400px;
    left: 102px;
    color: #dadada;
    top: 2580px;
}

.col5 {
    width: 362px;
    height: 400px;
    left: 539px;
    color: #dadada;
    top: 2580px;
}

.col6 {
    width: 362px;
    height: 400px;
    left: 976px;
    color: #dadada;
    top: 2580px;
}

.bnt3 {
    width: 168px;
    height: 53px;
    left: calc(54% - 168px/2);
    top: 2900px;
}

.dri1 {
    width: 144px;
    left: calc(54% - 144px/2 - 1px);
    top: 72.41%;
    bottom: 26.12%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 68px;
    text-align: center;
    color: #FFFFFF;
    top: 2950px;
}

.img4 {
    width: 782px;
    height: 439.88px;
    left: 329px;
    top: 3100px;
}

.col7 {
    width: 362px;
    height: 411px;
    left: 102px;
    top: 3700px;
    color: #dadada;
}

.col8 {
    width: 362px;
    height: 411px;
    left: calc(50% - 362px/2);
    top: 3700px;
    color: #dadada;
}

.col9 {
    width: 362px;
    height: 411px;
    left: 976px;
    top: 3700px;
    color: #dadada;
}

.bnt4 {
    width: 168px;
    height: 53px;
    left: calc(50% - 168px/2);
    top: 4050px;
}

.endline {
    width: 1242px;
    height: 0px;
    left: 90px;
    top: 4200px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.group5 {
    width: 1245.23px;
    height: 24px;
    left: calc(54% - 1245.23px/2 - 7.38px);
    top: 4213px;
}
.full-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  } */


.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
}

.nav-menu li {
    margin-right: 20px;
}

.nav-menu li a:hover {
    color: #00f;
}

.navbar {
    display: flex;
    justify-content: right;
    align-items: center;
}










.img1 {
    max-width: 100%;
    height: auto;
}


.had2 {
    padding: 20px auto;
    margin: 15px;

}

.exthader2 {
    color: white;
    padding: 20px;
    margin: 50px 49px;
}

.had_logo {
    position: relative !important;
    flex-wrap: nowrap;
    justify-content: flex-start;
}


.tfd {
    margin: auto;
}

.logohader {
    display: flex;
    justify-content: center;
    align-items: center;
}






.hader_Row1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center !important;
    justify-content: center;
    margin: auto;
}

.had1_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #dadada;
}

.img_hader_video1 {
    display: flex;
    justify-content: center;
}

.img_hader_video2 {
    max-width: 100%;
}

.img_hader_video {
    max-width: 100%;
    height: auto;
}

.text1 {
    margin-bottom: 20px;
}

.text12 {
    color: #fff !important;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    height: 100%;
    line-height: 1.6;
    padding: 0;
}

.bnt12 {
    text-align: center;
}

.bnt1 {
    border: none;
    width: fit-content;
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(72, 72, 72, 0.72) -7px 4px 46px -1px;
    background: linear-gradient(89.35deg, rgb(16, 98, 161) 2.37%, rgb(34, 159, 255) 105.12%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media only screen and (min-width: 1024px) {
    .had1_text {
        flex: 0 0 50%;
        margin: 80px 0;
    }

    .img_hader_video1 {
        flex: 0 0 50%;
        margin: 80px 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .had1_text {
        flex: 0 0 100%;
    }

    .img_hader_video1 {
        flex: 0 0 100%;
    }
}

@media only screen and (max-width: 767px) {

    .had1_text,
    .img_hader_video1 {
        flex: 0 0 100%;
        margin: 60px 0;
    }
}














.texthader2 {
    color: white;
    font-size: 16px;
    padding: 40px 0px 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.texthader21 {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 27.36px;
    text-align: center;
}

/* .bnt1 {
    border: none;
    width: fit-content;
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(72, 72, 72, 0.72) -7px 4px 46px -1px;
    background: linear-gradient(89.35deg, rgb(16, 98, 161) 2.37%, rgb(34, 159, 255) 105.12%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bnt12{
    text-align: center;
} */

.img2 {
    margin: auto;
}

.heder_img2 {
    width: 100%;
}

.heder_img {
    justify-content: center !important;
}

.hed3 {
    display: flex;
    justify-content: center;
    padding: 30px;
}





.hader_Image_logo {
    position: relative !important;
}

.had_logo {
    align-items: center;
    display: flex;
    flex-wrap: inherit;
    justify-content: space-between;
}

.hader_logo_img {
    margin: auto;
}

.hader_logo_img1 {
    margin: auto;
}

.hader_Image_logo2 {
    background: #010507;
    background: radial-gradient(circle, #010507 0, #020d14 86%);
    color: #fff !important;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    height: 100%;
    line-height: 1.6;
    padding: 0;
}

.hader_Image_logo2_col1 {
    justify-content: center !important;
    display: flex !important;
}

.home_box {
    padding: 80px 0 20px;
    justify-content: center;
}

.home_Col1 {
    background-color: #0b0f17 !important;
    color: #fff;
    /* flex: 1 1; */
    margin: 10px;
    padding: 20px;
    width: 100%;
}

.home_Col1_frame {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;

}

.home_Col1_hading {
    font-size: 1.4em;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col1_paragraph {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col2 {
    background-color: #0b0f17 !important;
    color: #fff;
    /* flex: 1 1; */
    margin: 10px;
    padding: 20px;
    width: 100%;
}

.home_Col2_frame {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    box-sizing: border-box;
}

.home_Col2_hading {
    font-size: 1.4em;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col2_paragraph {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col3 {
    background-color: #0b0f17 !important;
    color: #fff;
    /* flex: 1 1; */
    margin: 10px;
    padding: 20px;
    width: 100%;
}

.home_Col3_frame {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    box-sizing: border-box;
}

.home_Col3_hading {
    font-size: 1.4em;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col3_paragraph {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_box2 {
    padding: 80px 0 20px;
    justify-content: center;
}

.home_Col4 {
    background-color: #0b0f17 !important;
    color: #fff;
    /* flex: 1 1; */
    margin: 10px;
    padding: 20px;
    width: 100%;
}

.home_Col4_frame {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    box-sizing: border-box;
}

.home_Col4_hading {
    font-size: 1.4em;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col4_paragraph {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col5 {
    background-color: #0b0f17 !important;
    color: #fff;
    /* flex: 1 1; */
    margin: 10px;
    padding: 20px;
    width: 100%;
}

.home_Col5_frame {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    box-sizing: border-box;
}

.home_Col5_hading {
    font-size: 1.4em;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col5_paragraph {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col6 {
    background-color: #0b0f17 !important;
    color: #fff;
    /* flex: 1 1; */
    margin: 10px;
    padding: 20px;
    width: 100%;
}

.home_Col6_frame {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    box-sizing: border-box;
}

.home_Col6_hading {
    font-size: 1.4em;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col6_paragraph {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_box3 {
    padding: 80px 0 20px;
    justify-content: center;
}

.home_Col7 {
    background-color: #0b0f17 !important;
    color: #fff;
    /* flex: 1 1; */
    margin: 10px;
    padding: 20px;
    width: 100%;
}

.home_Col7_frame {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    box-sizing: border-box;
}

.home_Col7_hading {
    font-size: 1.4em;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col7_paragraph {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col8 {
    background-color: #0b0f17 !important;
    color: #fff;
    /* flex: 1 1; */
    margin: 10px;
    padding: 20px;
    width: 100%;
}

.home_Col8_frame {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    box-sizing: border-box;
}

.home_Col8_hading {
    font-size: 1.4em;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col8_paragraph {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col9 {
    background-color: #0b0f17 !important;
    color: #fff;
    /* flex: 1 1; */
    margin: 10px;
    padding: 20px;
    width: 100%;
}

.home_Col9_frame {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    box-sizing: border-box;
}

.home_Col9_hading {
    font-size: 1.4em;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}

.home_Col9_paragraph {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255) !important;
}












.dis1 {
    color: #dadada;
    right: auto;
    text-align: center;
}

.img3 {
    margin: auto;
}

.hed4 {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.dri1 {
    color: #dadada;
    right: auto;
    text-align: center;
}

.img4 {
    margin: auto;
}

.bnt2 {
    border: none;
    width: fit-content;
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(72, 72, 72, 0.72) -7px 4px 46px -1px;
    background: linear-gradient(89.35deg, rgb(16, 98, 161) 2.37%, rgb(34, 159, 255) 105.12%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.butt2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.bnt3 {
    border: none;
    width: fit-content;
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(72, 72, 72, 0.72) -7px 4px 46px -1px;
    background: linear-gradient(89.35deg, rgb(16, 98, 161) 2.37%, rgb(34, 159, 255) 105.12%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.butt3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.bnt4 {
    border: none;
    width: fit-content;
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(72, 72, 72, 0.72) -7px 4px 46px -1px;
    background: linear-gradient(89.35deg, rgb(16, 98, 161) 2.37%, rgb(34, 159, 255) 105.12%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.butt4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}




.hed5 {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.endline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.group5 {
    display: flex;
    justify-content: center;
    align-items: center;
}







/* .loginf {
    padding: 18px;
    margin: 15px;
    align-items: center;
    justify-content: center;
}

.loginfm {
    display: flex;
    justify-content: right;
    align-items: center;
}

.logintext {
        background: #010507;
    background: radial-gradient(circle,#010507 0,#020d14 86%);
    color: #fff!important;
    font-family: Poppins,sans-serif;
    font-size: 1.6rem;
    height: 100%;
    line-height: 1.6;
    padding: 0;
}


}

.loginbutton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
} */





.login_from {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 4px;
    margin-top: 80px!important;
  }
  
  .login_fromcol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: var(--bs-gutter-y);
    max-width: 100%;
    padding-left: calc(var(--bs-gutter-x)*.5);
    padding-right: calc(var(--bs-gutter-x)*.5);
    width: 100%;
    background: radial-gradient(circle, #010507 0, #020d14 86%);
  }
  
  .logintext {
    color: #fff !important;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    padding: 0;
  }
  .login_textfrom1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0px;
  }

  @media only screen and (max-width: 599px) {
    .login_fromcol {
      width: 100%;
      background-size: cover;
      background-position: center;
    }
  }
  
  @media only screen and (min-width: 600px) and (max-width: 1023px) {
    .login_fromcol {
      width: 50%;
      background-size: cover;
      background-position: center;
    }
  }

  @media only screen and (min-width: 1024px) {
    .login_fromcol {
      width: 50%;
      background-size: cover;
      background-position: center;
    }
  }
  
  .driInput {
    background: #010507;
    background: radial-gradient(circle,#010507 0,#020d14 86%);
    color: #fff!important;
    font-family: Poppins,sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    width: 100%;
    border-radius: 10px;
  }
  
  .login_button {
    border: none;
    width: fit-content;
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(72, 72, 72, 0.72) -7px 4px 46px -1px;
    background: linear-gradient(89.35deg, rgb(16, 98, 161) 2.37%, rgb(34, 159, 255) 105.12%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
  }
  
  @media only screen and (max-width: 767px) {
    .login_button {
      font-size: 0.9rem;
    }
  }
  
  @media only screen and (max-width: 479px) {
    .login_button {
      font-size: 0.8rem;
    }
  }
  .login_Imagebackground{
    background-color: #222;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    color: #fff;
  }

@media (min-width: 325px) and (max-width: 576px){
.login_Imagebackground {
    display: none;
}
}


.login_inputbox{
    background: #010507;
    background: radial-gradient(circle,#010507 0,#020d14 86%);
    color: #fff!important;
    font-family: Poppins,sans-serif;
    font-size: 1.6rem;
    height: 100%;
    line-height: 1.6;
    padding: 0;
    width: 100%;
}
.login_inputbox::placeholder {
    color: #FFFFFF;
    font-size: 15px;
}
.User_text{
    text-align: center;
    color: #fff !important;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    padding: 0;
}

.user_button{
    border: none;
    width: fit-content;
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(72, 72, 72, 0.72) -7px 4px 46px -1px;
    background: linear-gradient(89.35deg, rgb(16, 98, 161) 2.37%, rgb(34, 159, 255) 105.12%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
}

.Usertext {
    color: #dadada;
    padding: 41px;
    margin: 63px;
    justify-content: center;
    flex: content;
    align-items: center;
}

.usertype {
    padding: 6px;
    margin: 15px;
    align-items: center;
    justify-content: center;
}

.radio1,
.radio2,
.radio3 {
    background: rgba(17, 37, 53, 1);
    border-image-source: linear-gradient(89.35deg, #1062A1 2.37%, #229FFF 105.12%);
    color: #fff;
    border: 1px solid gray;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
.login_inputbox{
    padding: 6px;
    align-items: center;
    justify-content: center;
}


.Broker_haderrow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.Broker_hadertext{
    color: #dadada;
    font-size: 3.2rem;
    margin: 0px 0px -53px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Broker_from{
    width: 100%;
    border-radius: 4px;
    padding: 15px 25px;
    background-color: rgb(11, 15, 23);
}
.broker_row1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.broker_row2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgupload {
    color: #dadada;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
}
.broker_row3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.brokerbuton1 {
    border: none;
    width: fit-content;
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(72, 72, 72, 0.72) -7px 4px 46px -1px;
    background: linear-gradient(89.35deg, rgb(16, 98, 161) 2.37%, rgb(34, 159, 255) 105.12%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}












.dispatcherfrom {
    display: flex;
    justify-content: center;
}

.textbroker {
    color: #dadada;
    margin: 20px;
}

.brokerline {
    display: flex;
    justify-content: center;
    align-items: center;
}



.ppbroker {
    margin: 10px;
    padding: 4px;
}

.brokertext1,
.brokertext2,
.brokertext3 {
    color: #dadada;
}

.brokercol1,
.brokercol2,
.brokercol3 {
    padding: 20px;
}




.brokerbutt1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.driverrow1,
.driverrow2,
.driverrow3,
.driverrow4,
.driverrow5,
.driverrow6,
.driverrow7 {
    margin: 38px;
}

.driverrow8 {
    margin: 38px;
    align-items: center;
    justify-content: center;
}

.driveraddress {
    left: 20;
}

.groupdriver {
    display: flex;
    justify-content: center;
    align-items: center;
}

.endlinedri {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    ;
}

.buttondis1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 83px;
}

.buttonDis1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 20px;
}

.texDispatcher {
    color: #dadada;
    left: 50%;
    /* right: 30%; */
    /* text-align: center; */
    /* text-align: justify; */

}

.textDriver {
    color: #dadada;
    margin-left: 49px;
}

.driInput::placeholder {
    color: #FFFFFF;
    font-size: 15px;
}

.weight_count {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    right: 9px;
    top: 5px;
}

.weight_dis {
    position: relative;
}

.driver_level {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 19px;
    margin: 15px 4px;
    text-align: left;
}